<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.op.fitnessdiary">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />
    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SignInActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GUI.setting.Account_setting_main_fix" />
        <activity android:name=".GUI.baseStats.baseStats_main" />
        <activity android:name=".GUI.album.Album_main" />
        <activity android:name=".GUI.createEvent.CreateEvent_main" />
        <activity android:name=".GUI.MainLogin.MainLogin" />
        <activity android:name=".GUI.MainLogin.ForgotPassword" />
        <activity android:name=".GUI.MainLogin.CreateAccount" />
        <activity android:name=".GUI.Celebrate.Celebrate_main" />
        <activity android:name=".GUI.Plan.Plan_main" />
        <activity android:name=".GUI.Plan.Plan_CreatePlan" />
        <activity android:name=".GUI.Plan.Plan_ProcessDetail" />
        <activity android:name=".GUI.Plan.Plan_ListExercise" />
        <activity android:name=".GUI.Plan.Plan_listitem_detailday" />
        <activity android:name=".GUI.MainLogin.MainLogin_LoginSuccess"></activity>
    </application>

</manifest>